
body{
    display: flex;
}


#nav{
    background-color: rgb(39, 55, 77);
    border-right: 2px solid black;
    position: fixed;
    top: 0;
    left: 0;
    width: 20vw;
    height: 100%;
    padding: 30px 30px 30px 30px;
    text-align: center;
}


#nav img{
    width:10vw;
    height:20vh;
    border-radius:1000px ;
}

#nav h2{
    font-family: 'Rubik Wet Paint', cursive;
    font-family: 'Ysabeau SC', sans-serif;
    color:rgb(167, 111, 111);
    font-size: 2vw;
}
#nav p{
    color: rgb(71, 169, 146);
    font-family: sans-serif;
    font-size: 1.5vw;
}

#nav ul{
    margin-top: 20px;
    list-style-type: none;
    padding: 0;
}
#nav ul li {
    padding: 10px 10px 20px 10px;
}

#nav a{
    text-decoration: none;
    color:white;
    font-size: 1.5vw;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    transition: font-size 1s;
}

#nav a:hover{
    font-size:2vw;
    /* border-bottom: 1.5px solid white;
    border-bottom-left-radius: 25% ;
    border-bottom-right-radius: 25% ; */
    padding: 5px 5px 5px 5px;
    color:wheat;
    /* background-color:chocolate; */
}

#content{
    position: absolute;
    top: 0px;
    left:25vw;
    right: 0px;
    background-color:rgb(61, 96, 122);
}

#home{
    height: 600px;
    display: flex;
    align-items: center; 
    justify-content:center;
}
#home-div{
    text-align: center;
    margin: 40px 40px 40px 40px;
}
#home-div h2{
    margin: 20px 20px 20px 20px;
    padding: 10px 20px 10px 20px;
    border-bottom: 6px solid black;
    border-top: 2px solid white;
    border-radius: 20px;
    box-shadow:rgb(147, 148, 148) 0px 20px 30px -10px;
    color: white;
    font-family: 'Rubik Wet Paint', cursive;
    font-family: 'Ysabeau SC', sans-serif;
    font-size: 60px;
    background-color: rgb(20, 20, 20);
    font-size: 5vw;
}

#home-div p{
    font-family: sans-serif;
    font-size: 30px;
}

#home-div a{
    text-decoration: none;
    padding: 20px 20px 20px 20px;
    background-color:black;
    color:white;
    font-family: monospace;
    cursor: pointer;
    border-radius: 50px;
    font-size: 20px;
    border: 1px solid white;
    box-shadow:rgb(147, 148, 148) 0px 20px 30px -10px;
}

#home-div a:hover{
    background-color: white;
    color: black;
    border: 1px solid black;
}


#icons{
    margin: 40px 0px 40px 0px;
}
#icons i{
    margin: 10px 10px 10px 10px;
}
#icons a{
    border-left: 2px solid black;
    font-size: xx-large;
    padding: 10px 10px 10px 10px;
    text-decoration: none;
    color: black;
}

#icons a:hover{
    color: white;
    cursor: pointer;
    box-shadow:rgb(147, 148, 148) 0px 20px 30px -10px;
    border-radius: 100px;
    background-color: black;
}


.cover{
    width: 700px;
}

#about1{
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#about{
    display: flex;
}

#about1 h1{
    font-family: 'Rubik Wet Paint', cursive;
    font-family: 'Ysabeau SC', sans-serif;
    border-radius: 20px;
    border-bottom: 8px solid black;
    border-top: 2px solid white;
    margin: 40px 20px 40px 20px;
    padding: 10px 10px 10px 60px;
    width: 200px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: cadetblue;
}

#about div{
border-left: 2px solid   rgb(39, 55, 77);
border-right: 2px solid  rgb(39, 55, 77);
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
border-radius: 20px;
margin:0px 10px 10px 10px;
padding: 20px 20px 20px 20px;
background-color:cadetblue;
}

#about span{
    color: black;
    font-weight: bold;
}

#about h2{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-bottom: 2px solid black;
    width: 180px;
    border-radius: 10px;
    padding-left: 20px;
    padding-bottom: 5px;
}

#about p{
    font-family: monospace;
    font-size: large;
}



#skills{
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#skills h2{
    font-family: 'Rubik Wet Paint', cursive;
    font-family: 'Ysabeau SC', sans-serif;
    border-radius: 20px;
    border-bottom: 8px solid black;
    border-top: 2px solid white;
    margin: 40px 20px 40px 40px;
    padding: 10px 10px 10px 60px;
    width: 200px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: rgb(255, 173, 255);
}

#skills-div{
    display: flex;
}

.part{
    border-left: 2px solid   rgb(39, 55, 77);
    border-right: 2px solid  rgb(39, 55, 77);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;
    margin:0px 40px 40px 40px;
    padding: 20px 20px 20px 20px;
    background-color: rgb(255, 173, 255);
}

.part p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: large;
}

#outer{
    height: 10px;
    border: 2px solid black;
    border-radius: 20px;
    background-color: rgb(206, 205, 205);
    width: 250px;
}
#inner{
    margin-top: 2px;
    border-radius: 20px;
    height: 6px;
    background-color: black;
}

#projects{
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#projects h2{
    font-family: 'Rubik Wet Paint', cursive;
    font-family: 'Ysabeau SC', sans-serif;
    border-radius: 20px;
    border-bottom: 8px solid black;
    border-top: 2px solid white;
    margin: 40px 20px 40px 20px;
    padding: 10px 10px 10px 60px;
    width: 200px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color:wheat;
}
#projects-div{
    display: flex;
}

.pro{
    border-left: 2px solid   rgb(39, 55, 77);
border-right: 2px solid  rgb(39, 55, 77);
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
border-radius: 20px;
margin:0px 10px 10px 10px;
padding: 20px 20px 20px 20px;
background-color: wheat;
}

.pro h3{
    font-family:sans-serif;
}

.pro h4{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(80, 80, 80);
}

.pro p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: large;
}

.pro a{
    text-decoration: none;
    color: white;
    background-color: black;
    border-radius: 20px;
    margin:20px 0px 20px 0px;
    padding: 10px 10px 10px 10px;
    font-size: small;
}

.pro a:hover{
    color: black;
    background-color: white;
    border: 2px solid black;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


#education{
    /* border: 2px solid crimson; */
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}


#education h2{
    font-family: 'Rubik Wet Paint', cursive;
    font-family: 'Ysabeau SC', sans-serif;
    border-radius: 20px;
    border-bottom: 8px solid black;
    border-top: 2px solid white;
    margin: 40px 20px 40px 20px;
    padding: 10px 10px 10px 60px;
    width: 200px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color:rgb(115, 164, 228);
}

#education-div{
    display: flex;
}

.edu{
    border-left: 2px solid   rgb(39, 55, 77);
    border-right: 2px solid  rgb(39, 55, 77);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;
    margin: 10px 10px 10px 10px;
    padding: 20px 20px 20px 20px;
    background-color:rgb(115, 164, 228);
}



.edu h4{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.edu p{
    font-family: monospace;
    color: rgb(251, 245, 234);
}

#contact{
    /* border: 2px solid green; */
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#contact h2{
    font-family: 'Rubik Wet Paint', cursive;
    font-family: 'Ysabeau SC', sans-serif;
    border-radius: 20px;
    border-bottom: 8px solid black;
    border-top: 2px solid white;
    margin: 40px 20px 40px 20px;
    padding: 10px 10px 10px 60px;
    width: 200px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: thistle;
}

#contact-div{
    display: flex;
}

.cont{
    border-left: 2px solid   rgb(39, 55, 77);
    border-right: 2px solid  rgb(39, 55, 77);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;
    margin: 20px 20px 20px 20px;
    padding: 20px 20px 20px 20px;
    background-color: thistle;
}

.cont h4{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    border-bottom: 2px solid black;
    border-radius: 5px;
    padding-bottom: 5px;
    margin-left: 10px;
    width: 200px;
}

input{
    margin: 10px 10px 10px 10px;
    padding: 5px 5px 5px 5px;
    background-color: thistle;
    border: 2px solid black;
    border-radius: 5px;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;   
}

::placeholder {
    color: black;
}

textarea{
    margin: 10px 10px 10px 10px;
    background-color: thistle;
    border: 2px solid black;
    border-radius: 5px;
    resize: none;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;   
    padding: 10px 10px 10px 10px;
}

#btn{
    cursor: pointer;
    background-color: black;
    color: white;
    padding: 10px 10px 10px 10px;
}

#btn:hover{
    background-color: white;
    color: black;
}

.cont div{
    margin-top: 30px;
    margin-bottom: 30px;
}
.cont i{
    font-size: large;
    margin-right: 10px;
}

.cont i:hover{
    color:slateblue;
}

.cont span{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}



/*media queries*/
@media screen and (min-width: 1240px)
{
    
}